body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body {
    position: relative;
}

header {
    height: 5rem;
    background: rgba(255, 255, 255, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

main section {
    height: 100vh;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

main section:last-child {
    background: lightblue;
}